/* header section */
#header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -72px;
}
#logo{
    height: 190px;
    width:200px;
}
#services-header{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -42px;
    color: white;
}
#elevation-header{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -42px;
    color: white;
}
#interior-header{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -42px;
    color: white;
}
#site-header{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -42px;
    color: white;
}
#contact-header{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-bottom: -42px;
    color: white;
}
.head-container{
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
#header h1{
    font-family: verdana;
    line-height: 56px;
}
#header h5{
    font-family: verdana;
    font-size: 24px;
}
/* navigation section */
#navigation{
    display: block;
    background-color: #90caf9;
    background-size: cover;
    font-family: verdana;
    font-size: 24px;
}
.navbar a{
    display: block;
    padding: 8px;
    color: black;
}
.navbar img{
    width: 80px;
    height: 50px;
}
.fixedNav #navigation{
    position: fixed;
    top: 0;
}
/* services section */
#services{
    padding-bottom: 30px;
}
.des-box{
    padding: 60px 30px;
    position: relative;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
}
#services i{
    font-size: 40px;
}
/* statistics section */
#statistics i{
    font-size: 85px;
}
#statistics{
    background-image: linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url(Images/elevation0.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 200px;
    margin-top: 100px;
    background-repeat: no-repeat;
}
/* elevation, interior & site work section */
#e0, #i0, #s0{
    height: 350px;
    width: 350px;
    display: none;
}
#e1, #i1, #e2, #i2, #s1, #s2{
    height: 350px;
    width: 350px;
    margin-left: 100px;
    display: none;
}
#e3, #i3, #s3{
    margin-top: 50px;
    height: 350px;
    width: 350px;
    display: none;
}
#e4, #e5, #i4, #i5, #s4, #s5{
    margin-top: 50px;
    height: 350px;
    width: 350px;
    margin-left: 100px;
    display: none;
}
/* footer section*/
.footer-top{
    position : relative;
    text-align: center;
    padding: 80px 0;
    background-image: linear-gradient(rgba(92,132,236,0.5),rgba(92,132,236,0.5)), url("Images/bg0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.row-footer-newsletter{
    font-size: 15px;
    margin-top: 30px;
}
form{
    margin-left: 60px;
}
form input[type="submit"]{
    background: black;
    color: white;
}
.social-links{
    margin-top: 30px;
}
.social-links a{
    font-size: 18px;
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
}
.footer-bottom{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.credits{
    margin-left: 500px;
    font-size: 24px;
    font-family: verdana;
}